/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* Navigation */
.navbar {
    display: flex;
    background-color: #333;
    color: white;
    height: 60px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgba(126, 126, 126, 0.5);
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 130px 20px;
    background-image: image-set("/img/WC3 banner.png");
    object-fit: cover;
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
}

/* Responsive Grid */
.container{
    flex: 1;
    padding: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    padding: 20px;
}

.itemCard {
    display: block;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    justify-content: center;
    padding: 20px;
    background-color: white;
    height: 350px;
    max-width: 300px;
    margin: 5px;
    border-radius: 10px;
    border: black 1px solid;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.itemCard p{
    align-items: left; 
    text-align: left; 
    padding: 10px;
}

/* Footer */
.footer {
    background: #333;
    color: white;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.change_log {
    max-height: 450px; /* Adjust height as needed */
    overflow-y: auto; /* Enables vertical scrolling */
    padding: 10px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    white-space: pre-wrap; /* Ensures proper formatting of log text */
    font-family: monospace; /* Makes log text look like code */
}

.searchBar {
    padding: 5px;
    display: flex;
    justify-content: right;
    align-items: right;
    background-color: rgba(104, 104, 104, 0.306);
}

/* Item rarities */

#uncommon {
    background-color: #279a2b;
    color: white;
}

#rare {
    background-color: #131b7a;
    color: white;
}

#epic {
    background-color: #3c0959;
    color: white;
}

#legendary {
    background-color: #dc7806;
    color: white;
}

#divine {
    background-color: #dbca10;
    color: white;
}