/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


/* Navigation */
.navbar {
    display: flex;
    background-color: #333;
    color: white;
    height: 60px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    flex: 1;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgba(126, 126, 126, 0.5);
    flex: 1;
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 130px 20px;
    background-image: image-set("/img/WC3 banner.png");
    object-fit: cover;
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
}

/* Responsive Grid */
.container{
    flex: 1;
    padding: 20px;
}

.item_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 20px;
    justify-content: center;
    margin: 5px auto;
}

.card {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    padding: 20px;
}

.hero_card {
    display: flex;
    border: 2px solid black;
    padding: 10px;
    margin-top: 5px;
    gap: 10px;
    width: fit-content;
    background-color: white;
}

.left,
.center{
  border: 4px;
  display: flex;
  justify-content: left;
  align-items: left;
  padding: 10px;
}

.left {
  flex: 0 0 200px;
}

.left img {
  width: 100%;
  height: auto;
  display: block;
}

.center {
  flex: 1;
}

.downloads {
    display: flex;
    align-items: left;
    text-align: left;
    flex-direction: column;
    padding-left: 25px;
    padding-right: 25px;
    background-color: rgba(0,0,0,0.2); 
    height: 300px; 
    overflow-y: auto;
}

/* Footer */
.footer {
    background: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.change_log {
    max-height: 450px;
    overflow-y: auto; 
    padding: 10px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    white-space: pre-wrap; 
    font-family: monospace; 
}

.searchBar {
    padding: 5px;
    display: flex;
    justify-content: right;
    align-items: right;
    background-color: rgba(104, 104, 104, 0.306);
}

/* Item rarities & images */

#uncommon, #tier-1-uncommon, #tier-2-uncommon, #tier-3-uncommon, #tier-4-uncommon {
    background-color: #279a2b;
    color: white;
}

#rare, #tier-3-rare, #tier-2-rare, #tier-1-rare, #tier-4-rare {
    background-color: #131b7a;
    color: white;
}

#epic, #tier-1-epic, #tier-2-epic, #tier-3-epic, #tier-4-epic {
    background-color: #3c0959;
    color: white;
}

#legendary, #tier-1-legendary, #tier-2-legendary, #tier-3-legendary, #tier-4-legendary {
    background-color: rgb(212, 94, 25);
    color: white;
}

#divine, #tier-1-divine, #tier-2-divine, #tier-3-divine, #tier-4-divine {
    background-color: #ff0000;
    color: white;
}

.item_img {
    height: 60px;
    width: 60px;
    border: solid black 2px;
    border-radius: 5px;
}

.itemCard {
    display: block;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    justify-content: center;
    padding: 20px;
    background-color: white;
    height: 400px;
    width: 300px;
    border-radius: 10px;
    border: black 1px solid;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    overflow: none;
}

.itemCard p{
    align-items: left; 
    text-align: left; 
    padding: 10px;
    font-size: 14px;
}

.itemCard h4{
    padding: 3px;
    font-size: 20px;
}

.itemCard h6{
    font-size: 16px;
}

.item_description{
    border: 2px solid black;
    border-radius: 5px;
    padding: 2px;
    overflow-y: auto;
    overflow-wrap: break-word;
    height: 150px;
    max-width: 255px;
    background-color: rgba(60, 60, 60, 0.5);
}

#hero_container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: flex-start;
  }
  
  .hero_card {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    border: 1px solid #333;
    padding: 20px;
    background-color: #f9f9f9;
    max-width: 1400px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .hero_image {
    height: 200px;
  }
  
  button {
    margin-top: 5px;
    margin-right: 10px;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #0077cc;
    background-color: #e0f0ff;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #cbe7ff;
  }
  
  .hero_stats {
    list-style-type: disc;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .ability_text {
    margin-top: 15px;
    font-weight: bold;
  }